<!DOCTYPE html>
{% load static%}
    <html lang="nl">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" property="og:description" content="Wil je een avontuurlijke camperreis maken? Maar heb je geen zin om dit zelf uit te zoeken? Ontdek onze to-the-point camperroutes met de mooiste overnachtingsplekken!" />
            <meta name="keywords" content="Camperroutes">
            <meta name="author" content="Melanie Otten" />
            <meta property="og:url" content="https://livcamp.nl/camperroute/" />
            <meta property="og:title" content="Camperroutes - verken de wereld met onze inspirerende camperroutes" />
            <meta property="og:image" content="{% static 'assets/img/camperroutes/camperroutes.jpg' %}"/>
            <meta property="og:image:alt" content="Camperroute van bovenaf" />
            <title>{% block title %}Camperroutes{% endblock %}</title>
            <link href="{% static 'css/styles.css' %} " rel="stylesheet" />
            <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}" />
            <link rel="stylesheet" type="text/css" href="dist/device-mockups.min.css">
            <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
        </head>
        <body>


{% include 'includes/navbar.html' %}
            <!-- Page Header-->
            <header class="page-header-ui page-header-ui-dark bg-img-cover overlay overlay-40" style="background-image: url('{% static 'assets/img/camperroutes/camperroutes.jpg'%}');" alt="camperroute">
                <div class="page-header-ui-content py-5 position-relative">
                    <div class="container px-5">
                        <div class="row gx-5 justify-content-center">
                            <div class="col-xl-8 col-lg-10 text-center">
                                <div data-aos="fade-up">
                                    <h1 class="page-header-ui-title">Camperroutes</h1>
                                    <p class="page-header-ui-text">Verken de wereld met onze inspirerende camperroutes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="svg-border-rounded text-white">
                    <!-- Rounded SVG Border-->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                </div>
            </header>

            <!--Camperroutes-->
            <section class="bg-white py-10">
                <div class="container px-5">
                    <h2 class="display-4 fw-500 text-center mb-5">Camperroutes aanbod.</h2>
                    <div class="row gx-5">
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                            <a class="card lift h-100" href="mailto:info@livcamp.nl">
                                <div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">€ 7,50</div>
                                <img class="card-img-top" src="{% static 'assets/img/camperroutes/cover-duitse-alpen-route.jpg'%}" alt="Cover camperreis Duitse Alpenroute" />
                                <div class="card-body p-3">
                                    <div class="card-title text-center small mb-2">Duitse Alpenroute</div>
                                    <div class="text-xs text-center text-gray-500">Deze camper reisgids brengt je in 7 dagen langs de Duitse Alpenroute. In deze gids zijn camperplaatsen en leuke to do’s opgenomen. Je ontvangt de camperroute per email in PDF bestand.</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                            <a class="card lift h-100" href="mailto:info@livcamp.nl">
                                <div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">€ 7,50</div>
                                <img class="card-img-top" src="{% static 'assets/img/camperroutes/cover-route-zuid-noorwegen.jpg'%}" alt="Cover camperroute Zuid-Noorwegen" />
                                <div class="card-body p-3">
                                    <div class="card-title text-center small mb-2">Zuid-Noorwegen</div>
                                    <div class="text-xs text-center text-gray-500">Deze camperreisgids brengt je langs de mooiste plekjes van Zuid-Noorwegen. Langs de route zijn campings, camperplaatsen, sanitaire voorzieningen en off-grid plaatsen aangegeven. Je ontvangt de camperroute per email in PDF bestand.</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                            <a class="card lift h-100" href="mailto:info@livcamp.nl">
                                <div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">€ 7,50</div>
                                <img class="card-img-top" src="{% static 'assets/img/camperroutes/cover-route-elfstedentocht.jpg'%}" alt="Camperroute Elfstedentocht" />
                                <div class="card-body p-3">
                                    <div class="card-title text-center small mb-2">Elfstedentocht</div>
                                    <div class="text-xs text-center text-gray-500">Deze camperreisgids brengt je in 11 dagen langs de elf steden in Friesland. In deze gids zijn camperplaatsen en leuke to do’s opgenomen. Je ontvangt de camperroute per email in PDF bestand.</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                            <a class="card lift h-100" href="mailto:info@livcamp.nl">
                                <div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">€ 7,50</div>
                                <img class="card-img-top" src="{% static 'assets/img/camperroutes/cover-route-portugese-kust.png'%}" alt="Cover route Portugese kust" />
                                <div class="card-body p-3">
                                    <div class="card-title text-center small mb-2">Portugese kust</div>
                                    <div class="text-xs text-center text-gray-500">Deze camper reisgids brengt je in 3 weken langs de Portugese Kust. In deze gids zijn camperplaatsen en leuke to do’s opgenomen. Je ontvangt de camperroute per email in PDF bestand.</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                            <a class="card lift h-100" href="mailto:info@livcamp.nl">
                                <div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">€ 7,50</div>
                                <img class="card-img-top" src="{% static 'assets/img/camperroutes/cover-route-belgische-kust.png'%}" alt="Cover route Belgische kust" />
                                <div class="card-body p-3">
                                    <div class="card-title text-center small mb-2">Belgische kust</div>
                                    <div class="text-xs text-center text-gray-500">Deze camper reisgids brengt je in 6 dagen langs de Belgische Kust. In deze gids zijn camperplaatsen en leuke to do’s opgenomen. Je ontvangt de camperroute per email in PDF bestand.</div>
                                </div>
                            </a>
                        </div>
                        <!--Meer weten?-->
                        <div class="card z-1 mt-5 mb-n10">
                            <div class="card-body text-center py-5">
                                <h2 class="mb-3">Route bestellen? Mail ons.</h2>
                                <a class="btn btn-primary fw-500" href="mailto:info@livcamp.nl" target="_blank">Route bestellen</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="svg-border-rounded text-dark">
                    <!-- Rounded SVG Border-->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                </div>
            </section>

{% include 'includes/footer.html' %}
            
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            <script src="{% static 'js/scripts.js' %}"></script>
            <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
            <script>
                AOS.init({
                    disable: 'mobile',
                    duration: 600,
                    once: true,
                });
            </script>
        </body>
    </html>
