{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
    <div class="page-header-ui-content">
        <div class="container px-5 text-center">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-ui-title mb-3">Partners</h1>
                    <p class="page-header-ui-text mb-0">Wij werken o.a. samen met:</p>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>
<section class="bg-light pb-10">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-md-6 col-xl-4 mb-5 mt-n5">
                <a class="card card-portfolio h-100" href="https://buscamper.nl/" target="_blank">
                    <img class="card-img-top" src="{% static 'assets/img/partners/logo-bcnl.svg' %}" alt="..." />
                    <div class="card-body"><div class="card-title">Buscamper Nederland</div></div>
                </a>
            </div>
            <div class="col-md-6 col-xl-4 mb-5 mt-md-n5">
                <a class="card card-portfolio h-100" href="#!">
                    <img class="card-img-top" src="https://source.unsplash.com/Ecnx13MEPK0/700x500" alt="..." />
                    <div class="card-body"><div class="card-title">Aveco camperverzekeringen</div></div>
                </a>
            </div>
            <div class="col-md-6 col-xl-4 mb-5 mt-xl-n5">
                <a class="card card-portfolio h-100" href="#!">
                    <img class="card-img-top" src="https://source.unsplash.com/eUCy1jb_B7I/700x500" alt="..." />
                    <div class="card-body"><div class="card-title">Tailor-Made Expeditions</div></div>
                </a>
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card card-portfolio h-100" href="#!">
                    <img class="card-img-top" src="https://source.unsplash.com/cuTcfqsES6o/700x500" alt="..." />
                    <div class="card-body"><div class="card-title">Ekowax</div></div>
                </a>
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card card-portfolio h-100" href="#!">
                    <img class="card-img-top" src="https://source.unsplash.com/jipR1oTCO7U/700x500" alt="..." />
                    <div class="card-body"><div class="card-title">Reizen op wielen</div></div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="bg-white py-10">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10 text-center py-5">
                <h2>Samenwerken?</h2>
                <p class="lead text-gray-500 mb-5">Laten we krachten bundelen en een winnende samenwerking starten.</p>
                <a class="btn btn-primary fw-500" href="{% url 'contact' %}">Lets connect!</a>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-dark">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>

{% endblock content %}