{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% load static%}

{% block content %}
                    <section class="bg-light py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-10 col-xl-8">
                                    <div class="single-post">
                                        {% if user.is_authenticated %}
                                            {% if user.id == post.author.id %}
                                                <a href="{% url 'update_post' post.slug %}">Edit</a> | <a href="{% url 'delete_post' post.slug %}">Delete</a>
                                            {% endif %}
                                        {% endif %}
                                        {% if post.header_image %}
                                        <img class="img-fluid mb-2 rounded" src="{{ post.header_image.url }}" alt="gratis camperplaatsen in nederland" />
                                        {% endif %}
                                        <div class="d-flex align-items-center justify-content-between mb-5">
                                            <div class="single-post-meta me-4">
                                                <img class="single-post-meta-img" src="assets/img/illustrations/profiles/profile-1.png" />
                                                <div class="single-post-meta-details">
                                                    <div class="single-post-meta-details-name">{{ post.author }}</div>
                                                    <div class="single-post-meta-details-date">{{ post.published_date }}</div>
                                                </div>
                                            </div>
                                            <!-- Likes button-->
                                            <!--<div>
                                                <form action="" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> {{ total_likes}}
                                                </form>
                                            </div>    -->
                                            <div class="single-post-meta-links">
                                                <a href="#!"><i class="fab fa-facebook-f fa-fw"></i></a>
                                                <a href="#!"><i class="fab fa-instagram fa-fw"></i></a>
                                                <a href="#!"><i class="fab fa-youtube fa-fw"></i></a>
                                                <a href="#!"><i class="fab fa-pinterest fa-fw"></i></a>
                                                <a href="#!"><i class="fas fa-bookmark fa-fw"></i></a>
                                            </div>
                                        </div>
                                        <h1 class="text-center py-2">{{ post.title }}</h1>
                                        <div class="single-post-text my-5">
                                            {{ post.body|safe }}
                                            <hr class="my-5" />
                                        <!--Auteur Profiel-->
                                            <div class="card mb-3">
                                                <div class="row no-gutters">
                                                  <div class="col-md-4">
                                                    {% if post.author.profile.profile_pic %}
                                                    <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" alt="profielfoto">
                                                    {% else %}
                                                    <img src="{% static 'assets/img/algemeen/profile.jpg' %}" class="card-img" alt="profielfoto">
                                                    {% endif %}
                                                </div>
                                                  <div class="col-md-8">
                                                    <div class="card-body">
                                                      <h5 class="card-title">{{post.author }}</h5>
                                                      <p class="small text-muted">
                                                        {% if post.author.profile.website_url%}
                                                        <a href="{{ post.author.profile.website_url}}" target="_blank">Website </a>| 
                                                        {% endif %}
                                                        {% if post.author.profile.linkedin_url%}
                                                        <a href="{{ post.author.profile.linkedin_url}}" target="_blank">LinkedIn</a> |
                                                        {% endif %}
                                                        {% if post.author.profile.facebook_url%}
                                                        <a href="{{ post.author.profile.facebook_url}}" target="_blank">Facebook </a>| 
                                                        {% endif %}
                                                        {% if post.author.profile.instagram_url%}
                                                        <a href="{{ post.author.profile.instagram_url}}" target="_blank">Instagram </a>| 
                                                        {% endif %}
                                                        {% if post.author.profile.youtube_url%}
                                                        <a href="{{ post.author.profile.youtube_url}}" target="_blank">Youtube </a>| 
                                                        {% endif %}
                                                        {% if post.author.profile.pinterest_url%}
                                                        <a href="{{ post.author.profile.pinterest_url}}" target="_blank">Pinterest</a>
                                                        {% endif %}
                                                        </p>
                                                      <p class="card-text">{{ post.author.profile.bio }}</p>
                                                      <p class="card-text"><small class="text-muted">Meer over <a href="{% url 'profilepage' post.author.profile.id %}">{{post.author }}</a></small></p>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <!--Terug naar camperblog-->
                                            <hr class="my-5" />
                                            <div class="text-center"><a class="btn btn-transparent-dark" href="{% url 'camperblog' %}">Terug naar camperblog</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Rounded SVG Border-->
                        <div class="svg-border-rounded text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
{% endblock content %}
