<!--Footer-->
<div id="layoutDefault_footer">
    <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
        <div class="container px-5">
            <div class="row gx-5">
                <div class="col-lg-3">
                    <div class="footer-brand">Livcamp</div>
                    <div class="mb-3">Volg ons op:</div>
                    <div class="icon-list-social mb-5">
                        <a class="icon-list-social-link" href="https://www.instagram.com/livcamp.nl/" target='_blank'><i class="fab fa-instagram"></i></a>
                        <a class="icon-list-social-link" href="https://www.facebook.com/livcamp.nl" target='_blank'><i class="fab fa-facebook"></i></a>
                        <a class="icon-list-social-link" href="https://www.youtube.com/channel/UCTw9ojC-CDZfbUQSgSA2aPw" target='_blank'><i class="fab fa-youtube"></i></a>
                        <a class="icon-list-social-link" href="https://nl.pinterest.com/livcampnl" target='_blank'><i class="fab fa-pinterest"></i></a>
                        <a class="icon-list-social-link" href="https://www.linkedin.com/company/67935767/admin/" target='_blank'><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-6 mb-5">
                            <div class="text-uppercase-expanded text-xs mb-4">Navigatie</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="{% url 'overlivcamp' %}">Over Livcamp</a></li>
                                <li class="mb-2"><a href="{% url 'partners' %}">Partners</a></li>
                                <li class="mb-2"><a href="{% url 'voorbedrijven' %}">Voor bedrijven</a></li>
                                <li class="mb-2"><a href="{% url 'voorcamperplaatsen' %}">Voor camperplaatsen</a></li>
                                <li class="mb-2"><a href="{% url 'vacatures' %}">Vacatures</a></li>
                                <li class="mb-2"><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                            <div class="text-uppercase-expanded text-xs mb-4">Diensten</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="{% url 'lidmaatschap' %}">Lidmaatschap</a></li>
                                <li class="mb-2"><a href="{% url 'app' %}">Camperplaatsen app</a></li>
                                <li class="mb-2"><a href="{% url 'camperverzekering' %}">Camperverzekering</a></li>
                                <li class="mb-2"><a href="{% url 'campertraining' %}">Campertraining</a></li>
                                <li class="mb-2"><a href="{% url 'reisadvies' %}">Camper reisadvies</a></li>
                                <li class="mb-2"><a href="{% url 'camperreizen' %}">Camperreizen</a></li>
                                <li class="mb-2"><a href="{% url 'camperroute' %}">Camperroutes</a></li>
                                <li class="mb-2"><a href="{% url 'reisdagboek' %}">Camper reisdagboek</a></li>
                                <li class="mb-2"><a href="{% url 'campershop' %}">Campershop</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                            <div class="text-uppercase-expanded text-xs mb-4">Contactgegevens</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg> Livcamp</li>
                                <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"/><circle cx="12" cy="10" r="3"/></svg> Oostercluft 420</li>
                                <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"/><circle cx="12" cy="10" r="3"/></svg> 8332 DR Steenwijk</li>
                                <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><polyline points="22,6 12,13 2,6"/></svg> info@livcamp.nl</li>
                                <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"/><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"/></svg> KVKnummer: 75798271</li>
                                <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"/><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"/></svg> BTWnummer: NL860399941B01</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-5" />
            <div class="row gx-5 align-items-center">
                <div class="col-md-6 small">Copyright &copy; Livcamp 2019 - 2023</div>
                <div class="col-md-6 text-md-end small">
                    <a href="{% url 'privacypolicy' %}">Privacy Policy</a>
                    &middot;
                    <a href="{% url 'algemenevoorwaarden' %}">Algemene voorwaarden</a>
                </div>
            </div>
        </div>
    </footer>
</div>
