{% extends 'base.html' %}
{% block title %}Wachtwoord veranderen{% endblock %}
{% load static%}

{% block content %}
                    <!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
                        <div class="page-header-ui-content pt-10">
                            <div class="container px-5 text-center">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="page-header-ui-title mb-3">Wachtwoord veranderen</h1>
                                        <p class="page-header-ui-text">Goed idee!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                <!--Blog toevoegen-->
                <section>
                    <div class="container px-5 py-10">
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8">
                                <div class="card rounded-3 text-dark">
                                    <div class="card-header text-primary text-center py-4">Login</div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    {{ form.as_p}}
                                                    <button class="btn btn-primary">Wachtwoord aanpassen</button>
                                                </form>
                                                <ul class="py-5">
                                                    <li>Uw wachtwoord mag niet te veel op uw andere persoonlijke gegevens lijken.</li>
                                                    <li>Uw wachtwoord moet minstens 8 tekens lang zijn.</li>
                                                    <li>Uw wachtwoord mag geen veelgebruikt wachtwoord zijn.</li>
                                                    <li>Uw wachtwoord mag niet volledig uit cijfers bestaan.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="svg-border-rounded text-dark">
                        <!-- Rounded SVG Border-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                    </div>
                </section>
{% endblock content %}


